Portfolio(
    // The information of whose portfolio this belongs to
    name: "Austin Baugh",
    email: "austinsbaugh@gmail.com",
    about: "A Computer Science student who will be graduating from Portland State University with a Bachelor's degree in December 2019.",
    // The links to languages and technologies used on one or more projects
    languages: {
        "Rust":         "https://www.rust-lang.org/",
        "Python":       "https://www.python.org/",
        "ECMAScript 6": "https://www.w3schools.com/Js/js_es6.asp",
    },
    technologies: {
        "Web Assembly": "https://rustwasm.github.io/",
        "Pijul":        "https://pijul.org/",
        "RON":          "https://github.com/ron-rs/ron",
        "Django":       "https://www.djangoproject.com/",
        "Cytoscape":    "https://js.cytoscape.org/",
        "Vue.js":       "https://vuejs.org/",
        "ggez":         "https://ggez.rs/",
        "NumPy":        "https://numpy.org/",
        "Matplotlib":   "https://matplotlib.org/",
    },
    // The collection of projects that make up the portfolio
    projects: [
        Project(
            name: "Portfolio",
            role: "Creator",
            languages: [ "Rust" ],
            technologies: [ "Web Assembly", "RON" ],
            description: "The Rust crate used to generate this portfolio based on the contents of a configuration file in Rusty Object Notation.",
            url: "https://github.com/austinsheep/portfolio",
        ),
        Project(
            name: "Leaves Calculator",
            role: "Cocreator",
            languages: [ "Python", "ECMAScript 6" ],
            technologies: [ "Django", "Vue.js" ],
            description: "A full stack web app that is designed for Portland State University's HR department to assist PSU employees with determining the amount and types of leave they are eligible for. The employees are asked a series of questions that is based on a directed graph. Additionally, this web app includes features for an administrator to change much of the fundamental logic for the directed graph without writing code through a Cytoscape graph.",
            url: "https://github.com/leavescalculator/LeavesCalculator",
        ),
        Project(
            name: "evolution",
            role: "Creator",
            languages: [ "Rust" ],
            technologies: [ "ggez" ],
            description: "A 2D genetic algorithm simulation that displays a top-down perspective of 'fish' who are swimming within an enclosure. The fish have predatory behaviors based on their size, eating each other or just the stagnant 'food' if they are too small to consume fish. They reproduce asexually through cloning and have a possibility of developing genetic mutations.",
            url: "https://github.com/austinsheep/evolution",
        ),
        Project(
            name: "Roost",
            role: "Creator",
            languages: [ "Rust" ],
            technologies: [ "Web Assembly", "Pijul" ],
            description: "Roost is a repository viewer for the Pijul VCS. It is meant to be similar to Github, Gitlab, or The Pijul Nest, but is only intended for offline work. Roost is a fork of Percy's isomorphic web app example, allowing majority of the source code to be in Rust and compiled to web assembly.",
            url: "https://nest.pijul.com/austin/roost",
        ),
        Project(
            name: "Percy",
            role: "Contributor",
            languages: [ "Rust" ],
            technologies: [ "Web Assembly" ],
            description: "Percy is a framework for creating isomorphic web apps that utilizes web assembly, while still following many of the modern techniques of other full stack frameworks. I added a feature through an approved pull request that allows you to download a JSON object to the example isomorphic web app. This feature was ultimately used within Roost.",
            url: "https://github.com/chinedufn/percy",
        ),
        Project(
            name: "Convex Hull Visualizer",
            role: "Cocreator",
            languages: [ "Python" ],
            technologies: [ "NumPy", "Matplotlib" ],
            description: "A program that animates different convex hull algorithms solving a variety of datasets, allowing the viewer to observe their differences.",
            url: "https://github.com/tinlun/cs350-convex-hull",
        ),
    ],
)
