Portfolio(
    // The information of whose portfolio this belongs to
    name: "Austin Baugh",
    email: "austinsbaugh@gmail.com",
    // The links to languages and technologies used on one or more projects
    languages: {
        "Rust":         "https://www.rust-lang.org/",
        "Python":       "https://www.python.org/",
        "TypeScript":   "https://www.typescriptlang.org/",
        "ECMAScript 6": "https://www.w3schools.com/Js/js_es6.asp",
    },
    technologies: {
        "Web Assembly":   "https://rustwasm.github.io/",
        "Pijul":          "https://pijul.org/",
        "RON":            "https://github.com/ron-rs/ron",
        "Django":         "https://www.djangoproject.com/",
        "Cytoscape.js":   "https://js.cytoscape.org/",
        "Vue.js":         "https://vuejs.org/",
        "Next.js":        "https://nextjs.org/",
        "NetlifyCMS":     "https://www.netlifycms.org/",
        "Bulma":          "https://bulma.io/",
        "ggez":           "https://ggez.rs/",
        "NumPy":          "https://numpy.org/",
        "Matplotlib":     "https://matplotlib.org/",
        "SQLite":         "https://sqlite.org/index.html",
        "async-std":      "https://async.rs/",
        "StructOpt":      "https://docs.rs/structopt",
        "Seed":           "https://seed-rs.org/",
        "Azure Pipelines": "https://azure.microsoft.com/en-us/services/devops/pipelines/",
    },
    // The collection of projects that make up the portfolio
    projects: [
        Project(
            name: "Minburntech Website",
            role: "Sole contract developer",
            languages: [ "TypeScript" ],
            technologies: [ "Next.js", "NetlifyCMS", "Bulma", "Azure Pipelines" ],
            description: "An updated website for Minburn Technology Group utilizing modern technologies. Designed for a range of screen sizes with support for all major browsers. Continuous integration was used during the development of this website for ease of testing.",
            video: None,
            url: "https://minburntech-prod.azurewebsites.net/",
        ),
        Project(
            name: "OrbitDB HTTP Client",
            role: "Sole developer",
            languages: [ "Rust" ],
            technologies: [ "async-std", "StructOpt" ],
            description: "A Rust library crate for interfacing with OrbitDB's REST API, along with a binary that allows for executing API commands via command line.",
            video: None,
            url: "https://github.com/austinsheep/rs-orbit-db-http-client",
        ),
        Project(
            name: "Portfolio",
            role: "Sole developer",
            languages: [ "Rust" ],
            technologies: [ "Web Assembly", "RON", "Seed" ],
            description: "The Rust crate used to generate this portfolio based on the contents of a configuration file written in Rusty Object Notation.  Is a web assembly application that is written in a declarative manner.",
            video: None,
            url: "https://github.com/austinsheep/portfolio",
        ),
        Project(
            name: "Leaves Calculator",
            role: "Contributor",
            languages: [ "Python", "ECMAScript 6" ],
            technologies: [ "Django", "SQLite", "Vue.js", "Cytoscape.js" ],
            description: "A full stack web app that is designed for Portland State University's HR department to assist PSU employees with determining the amount and type of leaves they are eligible for. The employees are asked a series of questions that is based on a directed graph customed to their leave eligibilities. Additionally, this web app includes features for an administrator to change much of the directed graph by manipulating a graph generated by Cytoscape.js.",
            video: Some("static/assets/LeavesCalculator.webm"),
            url: "https://github.com/leavescalculator/LeavesCalculator",
        ),
        Project(
            name: "Evolution",
            role: "Sole developer",
            languages: [ "Rust" ],
            technologies: [ "ggez" ],
            description: "A 2D genetic algorithm simulation that displays a top-down perspective of 'fish' who are swimming within an enclosure. The fish have predatory behaviors based on their size, eating each other or just the stagnant 'food' if they are too small to consume other fish. They reproduce asexually through cloning and have a possibility of developing genetic mutations.",
            video: Some("static/assets/Evolution.webm"),
            url: "https://github.com/austinsheep/evolution",
        ),
        Project(
            name: "Roost",
            role: "Sole developer",
            languages: [ "Rust" ],
            technologies: [ "Web Assembly", "Pijul" ],
            description: "Roost is a repository viewer for the Pijul VCS. It is meant to be similar to Github, Gitlab, or The Pijul Nest, but is only intended for offline work. Roost is primarily written in Rust by using web assembly for the client application.",
            video: Some("static/assets/Roost.webm"),
            url: "https://nest.pijul.com/austin/roost",
        ),
        Project(
            name: "Convex Hull Visualizer",
            role: "Contributor",
            languages: [ "Python" ],
            technologies: [ "NumPy", "Matplotlib" ],
            description: "A program that animates different convex hull algorithms solving a variety of datasets. This allows the viewer to observe the differences between algorithms. Also includes a benchmarking option that runs the same algorithms several times and produces the average results.",
            video: Some("static/assets/ConvexHull.webm"),
            url: "https://github.com/tinlun/cs350-convex-hull",
        ),
    ],
)
